{% extends 'base.html' %}

{% block title %}Madlib{% endblock %}

{% block content %}

     {% if Scenario == "hackbright" %}

        There once was a {{ Color }} {{ Noun }} sitting in the Hackbright Lab. When {{ Person }} went to pick it up, it burst into flames in a totally {{ Adjective }} way.

    {% else %}

        One time a {{ Color }} {{ Noun }} went shopping in Los Angeles. When {{ Person }} got to the cash register, there was a {{ Adjective }} {{ Noun }} at the counter.
    
    {% endif %}
    
{% endblock %}

